<IfModule mod_rewrite.c>
   RewriteEngine on
   ###RewriteRule    ^$ app/webroot/    [L]
   ###RewriteRule    (.*) app/webroot/$1 [L]
   RewriteRule 		(.*) user/webroot/$1 [L]
   RewriteRule		teacher/(.*) teacher/webroot/$1	[L]

</IfModule>