@charset "utf-8";

/*------------------------------------------*/
/* layout 2
/*------------------------------------------*/
.page_wrap--class .pane_wrap--middle .main_left{
	display: none !important;
}
.page_wrap--class .screen_area .screen{
	height: 332px;
}
.page_wrap--class .screen_area .screen .others_video_wrap{
	min-width: 100px;
	min-height: 75px;
	width: 400px;
	height: 300px;
	width: 100%;
	height: 100%;
}