@charset "utf-8";
/* CSS Document */

.page_wrap.vision{
	padding:0;
}
.sub_navi{
	display:none;
}
.page_wrap.vision .top_area_wrap{
	position:relative;
}
.page_wrap.vision .top_area_wrap .top_img img{
	width:100%;
}
.page_wrap.vision .top_area_wrap h1{
	background:url("../images/vision/top_image.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	min-height:200px;
}
.page_wrap.vision .top_area_wrap h2{
	font-size:68px;
	font-size:6.8rem;
	color:#fff;
	position:absolute;
	top:50%;
	right:0;
	left:0;
	margin-top:-50px;
	text-align:center;
	text-shadow: #000 0px 0px 15px;
}

.page_wrap.vision .bottom_area_wrap{
	position:relative;
}
.page_wrap.vision .bottom_area_wrap h1{
	background:url("../images/vision/bottom_image.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.page_wrap.vision .bottom_area_wrap h2{
	font-size:40px;
	font-size:4.0rem;
	line-height:1.5;
	color:#fff;
	position:absolute;
	top:50%;
	right:0;
	left:0;
	margin-top:-180px;
	text-align:center;
	text-shadow: #000 1px 1px 1px;
}


.page_wrap.vision .contents_area_wrap{
	width:960px;
	margin:0 auto 100px;
	padding-top:50px;
}

.page_wrap.vision .contents_area_wrap .vision_ttl{
	text-align:center;
	font-size:48px;
	font-size:4.8rem;
	margin-bottom:50px;
}
.page_wrap.vision .contents_area_wrap .vision_ttl span{
	border-bottom:solid 8px #394354;
}

.page_wrap.vision .contents_area_wrap .section{
	font-size:16px;
	font-size:1.6rem;
	line-height:2;
}
.page_wrap.vision .contents_area_wrap .section + .section{
	margin-top:100px;
}
.page_wrap.vision .move_button{
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	width:120px;
	height:60px;
}
.page_wrap.vision .move_button.down{
	bottom:20px;
}

.page_wrap.vision .move_button.up{
	top:20px;

}