/* details css style for instructor pages */

@charset "utf-8";

/*----------------------------------------------------------*/
/* reservation page ( instructor top page )
/*----------------------------------------------------------*/
.i_page_wrap.reservation_wrap .container{
	padding: 25px 30px 5px;
	/width: 920px;
}
.i_page_wrap.reservation_wrap .page_links{
	margin: 20px 0;
}
.i_page_wrap.reservation_wrap .page_links li a{
	color: #999;
}
.i_page_wrap.reservation_wrap .page_links li a:hover{
	color: #ff8626;
}
.i_page_wrap.reservation_wrap .page_links li.prev{
	float: left;
}
.i_page_wrap.reservation_wrap .page_links li.next{
	float: right;
}
.i_page_wrap.reservation_wrap .page_links li.prev a:before{
	content: '＜';
	display: inline;
	margin-right: 0.2em;
}
.i_page_wrap.reservation_wrap .page_links li.next a:after{
	content: '＞';
	display: inline;
	margin-left: 0.2em;
}
.i_page_wrap .schedule_table_2 tr:first-child td.date.on{
	background: #fa9444;
	color: #fff;
}

.i_page_wrap.reservation_wrap .sec_info > .sec_ttl{
	margin-bottom: 15px;
}
.i_page_wrap.reservation_wrap .sec_info .info_list{
	margin-bottom: 15px;
}

/*----------------------------------------------------------*/
/* student list page
/*----------------------------------------------------------*/
.i_page_wrap.user_list_page_wrap .student_list_wrap{
	width: 920px;
	margin: 15px auto;
}

/*----------------------------------------------------------*/
/* lesson log page
/*----------------------------------------------------------*/
.i_page_wrap.lesson_log_wrap .lesson_log_list table{
	border-color: #faa564;
}
/*----------------------------------------------------------*/
/* lesson log detail page
/*----------------------------------------------------------*/
.i_page_wrap.lesson_log_wrap .lesson_log_list table{
	border-color: #faa564;
}
.i_page_wrap.lesson_log_detail_wrap .lesson_log_list_wrap{
	margin-bottom: 20px;
}
.i_page_wrap.lesson_log_detail_wrap .lesson_log_list .lesson_memo_area{
	height: 350px;
}

/*----------------------------------------------------------*/
/* lesson material page
/*----------------------------------------------------------*/
.i_page_wrap.lesson_material_wrap .page_top_area_wrap select{
	margin-top: -10px;
}
.i_page_wrap.lesson_material_wrap .container{
	padding: 30px;
}
.i_page_wrap.lesson_material_wrap .container .sec_wrap{
	width: 100%;
}
.i_page_wrap.lesson_material_wrap .material_list{
	border-bottom: #ccc solid 1px;
}
.i_page_wrap.lesson_material_wrap .material_list li.class{
	border-top: #ccc solid 1px;
	padding: 15px 0 10px;
}
.i_page_wrap.lesson_material_wrap .material_list .class .t_1{
	margin-bottom: 15px;
}
.i_page_wrap.lesson_material_wrap .material_list .chapter_list li{
	margin-bottom: 15px;
}
.i_page_wrap.lesson_material_wrap .material_list .chapter_list li:before{
	content: '・';
	display: block;
	float: left;
}
.i_page_wrap.lesson_material_wrap .material_list .chapter_list li h4{
	float: left;
	margin-right: 10px;
	line-height: 1;
}
.i_page_wrap.lesson_material_wrap .material_list .chapter_list li p{
	flaot: left;
	color: #999;
	line-height: 1;
}

/*---------------------------------------------*/
/* lesson material detail page
/*---------------------------------------------*/
.i_page_wrap.lesson_material_wrap .material_list_detail{
	border-top: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	padding: 20px 0 40px;
}
.i_page_wrap.lesson_material_wrap .material_list_detail .textbook{
	border: #ccc solid 1px;
}
.i_page_wrap.lesson_material_wrap .material_list_detail .textbook img{
	/width: 100%;
	max-width: 100%;
}

/*---------------------------------------------*/
/* lesson material detail page
/*---------------------------------------------*/
.i_page_wrap.messages_wrap .timeline_list .timeline_item li .data .name{
	color: #ff8626;	
}
.messages_wrap .inbox_list li:hover,
.messages_wrap .inbox_list li.on{
	background: #ff8626;
}
.messages_wrap .user_list li:hover,
.messages_wrap .user_list li.on{
	background: #ff8626;
}
.i_page_wrap.messages_wrap .submit_msg_area .btn_submit_msg{
	background: #ff8626;
	border: #ff8626 solid 1px;
}
.i_page_wrap.messages_wrap .submit_msg_area .btn_submit_msg:hover{
	background: #fe9643;
	border: #fe9643 solid 1px;
}

/*---------------------------------------------*/
/* mypage
/*---------------------------------------------*/
.i_page_wrap.mypage_wrap .link_lesson_material{
	display: block;
	width: 142px;
	height: 30px;
	line-height: 30px;
	background: #ff8626;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
	font-size: 1.4rem;
	color: #fff;
}

/*---------------------------------------------*/
/* cs page
/*---------------------------------------------*/
.i_page_wrap.cs_wrap .faq_list dl dt:before{
	color: #ff8626;
}

/*---------------------------------------------*/
/* chat page
/*---------------------------------------------*/
.chat_control_bar #ui_panel_setting .col_left .switch_btns .btn{
	background: #ff8626;
}
.chat_control_bar #ui_panel_setting .col_left .switch_btns .btn:hover{
	background: #fe9643;
}
.chat_control_bar #ui_panel_setting .col_left .switch_btns .btn.on{
	background: #fe9643;
}
.chat_control_bar .input_area .btn_submit{	
	background: #ff8626;
}
.chat_control_bar .input_area .btn_submit:hover{
	background: #fe9643;
}
.volume_slider_wrap .ui-slider-range{
	background: #ff8626;
}

/*.tab_menu ul li a,
.tab_menu ul li.active a{
	height: 40px;
	line-height: 40px;
}*/

.i_page_wrap.chat_wrap .tab_contents{
	padding: 0;
	margin-bottom: 10px;
}
.i_page_wrap.chat_wrap .tab_contents .textbook_wrap{
	margin-bottom: 0;
	border: none;
}

.ui_menu_side li .btn_info span{
	background: url('../images/instructor/chat/menu_info.png') no-repeat center center;
}
.ui_menu_side li .btn_textbook span{
	background: url('../images/instructor/chat/menu_textbook.png') no-repeat center center;
}
.ui_menu_side li .btn_lesson_memo span{
	background: url('../images/instructor/chat/menu_memo.png') no-repeat center center;
}
.ui_menu_side li .btn_phrase span{
	background: url('../images/instructor/chat/menu_phrase.png') no-repeat center center;
}
.ui_menu_side li .btn_translate span{
	background: url('../images/instructor/chat/menu_translate.png') no-repeat center center;
}
.ui_menu_side li .btn_user_profile span{
	background: url('../images/instructor/chat/menu_profile.png') no-repeat center center;
}
.ui_menu_side li .btn_support span{
	background: url('../images/instructor/chat/menu_support.png') no-repeat center center;
}

/*-------------------------------------------------------*/
/* grade check page >>>
/* add 2014 08 29
/*-------------------------------------------------------*/
.i_page_wrap.i_page_wrap.grade_check_wrap .container{
	padding: 25px 35px 30px;
	margin: 0;
	/width: 890px;
}

/*----------------------------------------------*/
/* layout
/*----------------------------------------------*/
.i_page_wrap.grade_check_wrap .contents_wrap{
	border-top: 1px solid #ccc;
}
.i_page_wrap.grade_check_wrap .contents_wrap .col_sub{
	float: left;
	width: 174px;
}
.i_page_wrap.grade_check_wrap .contents_wrap .col_main{
	float: right;
	width: 678px;
}

.i_page_wrap.grade_check_wrap .lesson_level{
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.7;
	margin-bottom: 0.3em;
}
.i_page_wrap.grade_check_wrap .lesson_level dt{
	float: left;
	color: #999;
	font-weight: normal;
}
.i_page_wrap.grade_check_wrap .lesson_level dt:after{
	content: ':';
	display: inline;
	margin-right: 0.3em;
	padding-left: 0.3em;
}
.i_page_wrap.grade_check_wrap .lesson_level dd{
	float: left;
}

/*----------------------------------------------*/
/* user info
/*----------------------------------------------*/
.i_page_wrap.grade_check_wrap .col_sub .user_info{
	position: relative;
	padding: 15px;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .thumb{
	margin-bottom: 10px;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .thumb img{
	display: block;
	border: #ccc 1px solid;
	margin-bottom: 10px;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .btn_change_pic{
	display: block;
	width: 140px;
	height: 28px;
	line-height: 28px;
	background: #f4f4f4;
	border: 2px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
	font-size: 1.4rem;
	color: #6a6a6a;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .data{
	color: #999;
	margin-bottom: 15px;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .data p{
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .data dl{
	line-height: 1.5;
	font-size: 13px;
	font-size: 1.3rem;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .data dl dt{
	float: left;
}
.i_page_wrap.grade_check_wrap .col_sub .user_info .data dl dd{
	clear: all;
}

/*----------------------------------------------*/
/* notice area
/*----------------------------------------------*/
.i_page_wrap.grade_check_wrap .notice_area{
	margin: 12px 0 35px;
}
.i_page_wrap.grade_check_wrap .notice_area p{
	line-height: 1.7;
	margin-bottom: 25px;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale{
	margin-right: -50px;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale .grading_scale_ttl{
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
	color: #999;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale .grading_scale_ttl:after{
	display: inline;
	content: '：';
	font-weight: normal;
	margin-left: 0.2em;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale ul{
	float: left;
	margin-left: 5px;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale li{
	float: left;
	margin-right: 0.7em;
	font-size: 14px;
	font-size: 1.4rem;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale li:after{
	content: '/';
	display: inline;
	padding-left: 0.7em;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale li span{
	font-weight: bold;
	margin-right: 0.2em;
}
.i_page_wrap.grade_check_wrap .notice_area .grading_scale li:last-child:after{
	display: none;
}

/*----------------------------------------------*/
/* checklist
/*----------------------------------------------*/
.i_page_wrap.grade_check_wrap .checklist_wrap{
	margin-bottom: 30px;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .checklist_ttl{
	border-top: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	padding: 15px 0 15px;
	font-size: 18px;
	font-size: 1.8rem;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list{
	margin: 0 0 30px;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list > ul > li{
	padding: 20px 0 10px;
	border-top: #ccc 1px solid;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list > ul > li:first-child{
	border-top: none;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .question{
	margin-bottom: 30px;
	font-size: 16px;
	font-size: 1.6rem;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .question .idx{
	margin-right: 1em;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .rating{
	margin-left: 48px;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .rating label{
	font-size: 16px;
	font-size: 1.6rem;
	cursor: pointer;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .rating li{
	float: left;
	margin-right: 70px;
	margin-bottom: 18px;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .rating li span{
	font-weight: bold;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .q_list .rating label input[type='radio']{
	margin-right: 5px;	
	vertical-align: top;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .total_score{
	border-top: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	padding: 15px 0 15px 52px;
	font-size: 18px;
	font-size: 1.8rem;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .total_score dl{
	display: inline-block;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .total_score dt{
	float: left;
	font-weight: bold;
	color: #999;
	margin-right: 0.5em;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .total_score dt:after{
	content: ':';
	display: inline;
	color: #444;
	margin: 0 0.3em;
}
.i_page_wrap.grade_check_wrap .checklist_wrap .total_score dd{
	float: left;
	font-weight: bold;
}
/*-------------------------------------------------------*/
/* <<< grade check page
/*-------------------------------------------------------*/

/*---------------------------------------------*/
/* lesson note detail page
/*---------------------------------------------*/
.i_page_wrap.lesson_note_detail_wrap .container .top_area .date{
	color: #ff8626;
}
.i_page_wrap.lesson_note_detail_wrap .container .section .sec_ttl{
	color: #666;
}
.i_page_wrap.lesson_note_detail_wrap .container .top_area .date:before{
	background: url('../images/instructor/icon/pencil_orange.png') no-repeat center center;
}

/*---------------------------------------------*/
/* settings detail page
/*---------------------------------------------*/
.page_wrap--settings .nav_settings a.on{
	background: #ff8626;
}